body {
  background-color: blue;
  color: yellow;
}
.button {
  width: 350px; /* largeur*/
  margin: auto; /* bloc centré */
  border: 3px solid black;
  text-align: justify;
  padding: 75px;
  margin-bottom: 25px;
}
