body {
  background-color: slategray;
}
.button {
  text-align: justify;
  background-color: cyan;
}

.confirm {
  text-align: justify;
  background-color: chocolate;
}

.new {
  width: 350px; /* largeur*/
  margin: auto; /* bloc centré */
  border: 3px solid black;
  text-align: justify;
  padding: 75px;
  margin-bottom: 25px;
}
